pydantic
python-dotenv
langchain[openai]
langchain-community
langchain-mcp-adapters
langchain-text-splitters
langgraph
langgraph-cli[inmem]
langgraph-supervisor
langgraph-checkpoint-sqlite
langgraph-checkpoint-redis
langmem
ipynbname
fastmcp
bs4
scikit-learn
supervisor
jieba
dashscope
tavily-python
ddgs
